.container{
    width: 100%;
    height: 1000px;
    background-color:#482579;
}
.header{
    width: 100%;
    height: 200px;
    background-color:#482579 ;
}
.head-first-half{
    width: 50%;
    height: 200px;
    background-color: #482579;
}
.head-second-half{
    width: 50%;
    height: 200px;
    background-color: #482579;
    margin-left: 510px;
    margin-top: -226px;
}
.body-full{
    width: 100%;
    height: 800px;
    background-color: #482579;
}
.body-first-half{
    width: 100%;
    height: 300px;
    background-color: #482579;
    padding-top: 1px;
}
.body-second-half{
    width: 100%;
    height: 300px;
    background-color:#482579 ;
}
.body-third-half{
    width: 100%;
    height: 200px;
    background-color:#482579 ;
}
.logo-image{
    height: 200px;
    width: 80%;
}
.heading{
    color: white;
    font-family: fantasy;
    font-size: 40px;
}
.caption{
    color: white;
    padding-left: 50px;
    padding-bottom: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.intro{
    color: white;
    padding-left: 10px;
    padding-top: 20px;
}
.first-sentence{
    color: white;
    padding-left: 200px;
}
.step{
    color: white;
    padding-left: 20px;
    padding-top: 48px;
}
.data-form{
    padding-top: 60px;
    padding-left: 30px;
}
.name-form{
    color: white;
    font-size: xx-large;
}
.gender{
    color: white;
    font-size: xx-large;
}
.male{
    color: white;
    font-size: xx-large;
}
.female{
    color: white;
    font-size: xx-large;
}
.field{
    position: relative;
    width: 15%;
    margin-left: 55px;
    border-radius: 10px;
    height: 25px;
}
.v-name{
    color: white;
    font-size: xx-large;
    position: relative;
    padding-bottom: 20px;
}
.field-2{
    position: relative;
    width: 15%;
    border-radius: 10px;
    height: 25px;
}
.submit-button{
    color: tomato;
    border-radius: 25px;
    font-size: large;
    border: 2px solid #030303 ;
    background-color: rgb(255, 255, 255);
    color: black;
    width: 100px;
}
.apply-wrote{
    font-size: x-large;
    color: white;
    padding-bottom: 10px;
}
.first-footer{
    background-color:#482579;
    height: 200px;
    width: 50%;
    color: white;
    padding-top: 1px;
}
.second-footer{
    background-color:#482579 ;
    height: 200px;
    width: 50%;
    margin-left: 510px;
    margin-top: -200px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.thanking{
    padding-left: 260px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.logo-image2{
    height: 200px;
    width: 100%;
}
